/********/
/*Colours*/
/********/

.cm.role-dj .from .un, .role-dj .name
{
        color: #9999ff !important;
}
.cm.role-bouncer .from .un, .role-bouncer .name
{
        color: #0066ff !important;
}
.cm.role-manager .from .un, .role-manager .name
{
        color: #0000cc !important;
}
.cm.role-cohost .from .un, .role-cohost .name, .cm.role-host .from .un, .role-host .name
{
        color: #b300b3 !important;
}
/********/
/*BADGES*/
/********/

/* STAFF */

/* Mirajane */
#chat-messages .id-3548097 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/KOVdiIF.jpg');  /*http://i.imgur.com/flFtDDn.png */
        background-size:        cover; 
}

/* NON-STAFF */

/* DREKEN */
#chat-messages .id-3632408 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/TU9MSYQ.gif');
        background-size:        cover;
}

/* PixelBreeze */
#chat-messages .id-196490 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/DN9QbKe.gif');  /*http://i.imgur.com/flFtDDn.png */
        background-size:        cover; 
        background-position:    initial;
        
}


